@import '../node_modules/basiclightbox/src/styles/main.scss';
.basicLightbox__background {
  background-color: rgba(0, 0, 0, 0.8);
}
.basicLightbox__zIndex {
  z-index: 1000;
}
.basicLightbox__duration {
  transition-duration: 00.4s;
}
.basicLightbox__timing {
  transition-timing-function: ease;
}

:root {
  --main-font: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1400px;
  padding-top: 50px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}

.search-form,
.get-more-btn {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.search-form {
  text-align: center;
  margin-bottom: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.photo-card {
  width: calc((100% - 90px) / 4);
}

.photo-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.photo-card:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.container-image {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.stats {
  display: flex;
  padding: 10px 10px;
  text-align: center;
  justify-content: space-between;
}

.stats-item {
  display: flex;
  flex-direction: column;
}
